.spinner-blc.position-absolute {
  z-index: 99;
}
.spinner-blc.position-absolute,
.with-overlay:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.with-overlay:after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.overlay-opacity {
  background-color: rgba(0, 0, 0, 0.3);
}
.spinner-border {
  width: 2.5rem;
  height: 2.5rem;
}
