@import "../../../assets//css/variables";
.modal-dialog {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  .modal-header {
    padding-left: 20px;
    padding-right: 20px;
    .modal-title {
      display: flex;
      align-items: center;
      flex: 1;
      span {
        margin-right: 15px;
      }
      .close-btn.btn2 {
        margin-left: auto;
      }
    }
  }
  .modal-content {
    max-height: 100%;
    min-height: 250px;
    .modal-body {
      padding: 25px 30px;
    }
  }
}
// signup Modal style start
.modal-dialog.signup {
  max-width: 970px;
  .modal-content {
    border-radius: 0;
    border: none;
  }
}
.signup-modal-pic {
  width: 473px;
  background: url("../../../assets/images/signup-pic.jpg") 0 0 no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0680bf;
  color: #fff;
}
@supports (-ms-ime-align: auto) {
  .signup-modal-pic:after {
    content: "";
    background-color: #057af3;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
  .signup-modal-pic {
    > h3 {
      z-index: 2;
    }
    .curl {
      z-index: 2;
    }
  }
}
.curl {
  right: -4px;
  top: 39%;
}
.curl {
  svg {
    width: 54px;
    height: 250px;
  }
}
.signup-modal-pic {
  > h3 {
    font-size: 18px;
    font-weight: 400;
  }
}
.signup-modal-pic {
  > h3 {
    span {
      margin-top: 20px;
    }
  }
}
.signup-modal-frm {
  flex-basis: 0 !important;
  @media (max-width: 767px) {
    flex-basis: auto !important;
  }
  margin: 88px 67px 50px 67px;
  .form-group {
    margin-bottom: 9px;
  }
}
.signup-modal-frm {
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 43px;
    label {
      font-family: "Poppins", sans-serif;
      font-size: 49px;
      font-weight: 500;
      line-height: 1;
      margin-top: 7px;
    }
  }
}
.forgot-btn.btn-link {
  font-weight: 400;
  color: #333;
}

.signup-link-rw {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  span {
    margin-right: 4px;
  }
  .btn-link {
    font-size: 16px;
    font-weight: 500;
    color: #1460b2;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.close-btn.btn {
  width: 34px;
  height: 34px;
  top: 8px;
  right: 16px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 5px 0 0 15px;
  svg {
    width: 15px;
    height: 15px;
    fill: #fff;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.signup-agree {
  margin-bottom: 23px;
  cursor: pointer;
  label {
    cursor: pointer;
    margin-right: 10px;
  }
}
.start-job-btn {
  min-width: 130px;
}
// signup Modal style end
@media (max-width: 1024px) {
  .signup-modal-pic {
    width: 350px;
    .logo.signup-logo {
      svg {
        width: 200px;
        height: auto;
      }
    }
  }
  .signup-modal-frm {
    margin: 50px 40px;
  }
}

//Bid-Modal style start
.modal-dialog.bid-modal {
  max-width: 670px;
  .modal-header {
    border-bottom: 1px solid #e5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .modal-title {
      font-size: 20px;
      color: #000;
    }
  }
  .modal-body {
    padding: 25px 20px 45px;
    @media (max-width: 1600px) {
      padding-bottom: 20px;
    }
    @media (max-width: 767px) {
      padding-bottom: 25px;
    }
    .bid-detail-blc {
      @media (max-width: 600px) {
        flex-direction: column;
        text-align: center;
      }
      .bid-detail-l {
        margin: 0 40px 0 0;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
          margin: 0 0 10px 0;
        }

        @media (max-width: 1600px) {
          margin-right: 20px;
        }
      }
      .bid-detail-r {
        .user-detail-link {
          color: $dark-default;
          text-decoration: none;
          &:hover {
            color: $secondary-100;
          }
        }
        .bid-detail-rw h2 {
          font-size: 18px;
          color: #000;
          @media (max-width: 600px) {
            margin-bottom: 18px;
          }
          span {
            display: block;
            font-size: 12px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.5);
            margin: 5px 0 0;
          }
        }
        p {
          font-size: 12px;
        }
        .bid-detail-rw {
          margin: 0 0 45px;
          @media (max-width: 1600px) {
            margin-bottom: 20px;
          }
          .bid-price {
            font-size: 20px;
            font-weight: 500;
            margin: 25px 0 0;
          }
        }
      }
    }
    .bid-desc-blc {
      h2 {
        font-size: 18px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 12px;
      }
      .bid-desc-frm {
        @media (max-width: 767px) {
          padding: 0;
        }
      }
    }
    .bid-frm-btns {
      padding: 0;
    }
  }
}
.bid-frm-btns {
  margin-top: 19px;
  padding: 0 76px;
  @media (max-width: 767px) {
    padding: 0;
  }
  @media (max-width: 600px) {
    flex-direction: column !important;
  }
  .btn {
    margin: 0 5px 10px 0;
    min-width: 130px;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .cancel {
    order: 2;
  }
}
//Bid-Modal style end

// Bid Confirmation Modal start
.confirm-modal {
  max-width: 435px;
  width: 90%;
  .bid-confirm-blc {
    h2 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 9px;
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      color: #000;
    }
    .bid-confirm-btns {
      margin: 25px 0 0;
      .btn {
        font-size: 13px;
        @media (max-width: 600px) {
          width: 100%;
        }
      }
      .btn-link {
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.7);
        &:hover {
          color: $secondary-100;
        }
      }
    }
  }
}

.bidder-completion {
  .bidder-label {
    font-size: 16px;
    color: #000;
    margin: 0 0 5px 0;
  }
  .bidder-rate {
    margin: 25px 0 0;
    .rating-btn svg {
      width: 30px;
      height: 30px;
    }
  }
  .bidder-completion-blc {
    .bid-confirm-btns {
      margin: 15px 0 0;
    }
  }
}
.bidder-completion .modal-content {
  .modal-body {
    padding: 15px 30px 25px;
  }
}
// Bid Confirmation Modal end

//Pyament-Completion-Modal style start
.modal-dialog.payment-modal .modal-content .modal-body {
  padding-bottom: 58px;
}
.payment-modal {
  max-width: 670px;
  .payment-logo {
    margin-bottom: 20px;
    img {
      width: 94px;
      @media (max-width: 1600px) {
        width: 70px;
      }
    }
  }
  .payment-detail-blc {
    max-width: 320px;
    width: 100%;
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin: 0 0 25px 0;
      color: #000;
    }
    p {
      font-weight: 400;
      margin: 0 0 25px;
      span {
        margin-bottom: 10px;
      }
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      color: #000;
      margin-bottom: 20px;
      span {
        font-size: 23px;
        font-weight: 700;
        color: $primary;
        margin-top: 5px;
      }
    }
    .to-line {
      color: rgba(0, 0, 0, 0.7);
    }
    .payment-profile {
      label {
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
}
//Pyament-Completion-Modal style end

@media (max-width: 767px) {
  .close-btn.btn {
    right: 16px;
    padding: 2px;
  }
  .signup-modal-blc {
    flex-direction: column;
    .signup-modal-pic {
      width: auto;
      height: 120px;
      flex: none;
      .logo.signup-logo {
        svg {
          width: 120px;
        }
      }
      .curl {
        display: none;
      }
    }
    .signup-modal-frm {
      margin: 20px;
      h2 {
        label {
          font-size: 32px;
        }
      }
    }
  }
}
