@import "../../assets/css/variables";
.src-service {
  max-width: none;
  margin-right: 12px;
  height: 50px;
  border-radius: 30px;
  @media (max-width: 500px) {
    flex-direction: column;
    margin-right: 8px;
    height: 46px;
  }
  .input-srch-blc {
    span {
      left: 20px;
      top: 50%;
      margin: -9px 0 0;
      @media (max-width: 500px) {
        display: none !important;
      }
    }
  }

  .form-control {
    background-color: #fff;
    border-radius: 50px;
    font-family: $secondary-font-family;
    font-size: 14px;
    color: #333;
    padding-left: 50px;
    padding-right: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    &:focus {
      box-shadow: 0 0 0px 2px rgb(43, 199, 255);
    }
    &:focus + span svg {
      fill: $primary-dark;
    }
    @media (max-width: 500px) {
      padding-left: 20px;
      padding-right: 60px;
    }
  }
  .btn {
    min-width: 121px;
    right: 0;
    top: 0;
    bottom: 0;
    @media (max-width: 500px) {
      min-width: 47px;
      padding: 0;
    }
  }
  svg {
    width: 19px;
    height: 19px;
    fill: #707070;
    @media (max-width: 500px) {
      fill: #fff;
    }
  }
  .mbl-icn {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
  }
  .web-icn {
    @media (max-width: 500px) {
      display: none;
    }
  }
}
@-moz-document url-prefix() {
  .src-service {
    max-width: 410px;
  }
}
