@import "../../assets/css/variables";
.src-service {
  max-width: 382px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  margin-right: 28px;
  border-radius: 20px;
  form {
    padding: 0 0 0 23px;
    .form-control {
      font-family: $secondary-font-family;
      font-size: 14px;
      color: #333;
      padding-left: 8px;
      padding-right: 8px;
      &:focus {
        box-shadow: none;
      }
    }
    .btn {
      min-width: 83px;
      position: relative;
      right: -1px;
    }
    svg {
      width: 19px;
      height: 19px;
      fill: #707070;
    }
  }
}
.post-job-btn {
  min-width: 119px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .src-service-blc {
    flex-direction: column !important;
    .src-service {
      max-width: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
