.text-primary {
  color: $primary !important;
}
.text-primary-dark {
  color: $primary-dark !important;
}
.text-primary-hover {
  &:hover {
    color: $primary !important;
  }
}
.text-secondary {
  color: $orange-200 !important;
}
.text-secondary-hover {
  &:hover {
    color: $orange-100 !important;
  }
}
.footer-links {
  color: $primary !important;
  .btn-link {
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: $primary !important;
    }
  }
}
.primary-font-family {
  font-family: $primary-font-family;
}
.secondary-font-family {
  font-family: $secondary-font-family;
}
