@import "../../../assets/css/variables";
.user-profile-blc {
  padding: 0 0 0 15px;
}
.user-mail.btn {
  padding-right: 8px;
  padding-left: 8px;
  &:hover svg {
    fill: $secondary;
  }
}
.user-mail {
  svg {
    width: 42px;
    height: 18px;
    fill: #fff;
  }
}
.user-pic {
  width: 40px;
  height: 40px;
  margin-left: 1px;
  border: 3px solid white;
  img {
    object-fit: cover;
  }
}
.user-dropdown {
  .btn.dropdown-toggle {
    padding-right: 20px;
    padding-left: 20px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  svg {
    width: 12px;
    height: 12px;
    fill: #fff;
  }
}
