@import "../../../assets/css/variables";
.user-profile-blc {
  padding: 0;
}
.user-mail.btn {
  padding-right: 8px;
  padding-left: 8px;
  &:hover svg {
    fill: $secondary;
  }
}
.user-mail {
  svg {
    width: 42px;
    height: 18px;
    fill: #fff;
  }
  &:after {
    border: none;
  }
}
.user-list-dropdown {
  width: 235px;
  left: -15px !important;
  .dropdown-item {
    border-bottom: 1px solid #efeeee;
    white-space: normal;
    span {
      margin: 0 7px 0 0;
      width: 35px;
      height: 35px;
      background-color: #ddd;
      img {
        width: 35px;
        height: 35px;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    &:focus {
      outline: none;
    }
    &:active {
      .user-label {
        color: #fff;
        label {
          color: #fff;
        }
      }
    }
  }
  .user-label {
    font-size: 14px;
    color: #222;
    label {
      font-size: 11px;
      color: #777;
      padding-left: 10px;
      margin-top: 3px;
    }
  }
  .user-list-scroll {
    max-height: 300px;
    .no-user-message {
      height: 70px;
      color: #666;
      svg {
        width: 16px;
        margin: 0 5px 0 0;
        fill: #666;
      }
    }
  }
}

.user-pic {
  width: 40px;
  height: 40px;
  margin-left: 1px;
  border: 3px solid white;
  @media (max-width: 370px) {
    display: none;
  }
  img {
    object-fit: cover;
  }
}
.user-pic:disabled {
  opacity: 1;
}
.user-dropdown {
  .btn.dropdown-toggle {
    padding-right: 20px;
    padding-left: 10px;
    color: #fff;
    label {
      margin-right: 10px;
      cursor: pointer;
      max-width: 154px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:focus {
      text-decoration: none;
    }
    .dropdown-item label {
      margin-right: 10px;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  svg {
    width: 12px;
    height: 12px;
    fill: #fff;
  }
  .dropdown-menu {
    width: 180px;
    max-height: 280px;
    left: -15px !important;
  }
  .dropdown-header {
    padding: 0.5rem 1.5rem 0;
    &:focus {
      outline: none;
    }
  }
  .dropdown-header.padd {
    padding-top: 15px;
  }
}
