@import "../../../assets/css/variables";

.bidder-profl-blc-rw {
  margin-bottom: 20px;
  .bidder-profl-l {
    margin-right: 20px;
    .job-address {
      margin-top: 0;
    }
  }
  .bidder-profl-r {
    max-width: 327px;
    width: 100%;
    @media (max-width: 900px) {
      max-width: 220px;
    }
    @media (max-width: 767px) {
      margin-left: 0 !important;
      max-width: none;
    }
    @media (max-width: 600px) {
      margin-left: 0 !important;
      max-width: none;
    }
    .profile-bar {
      width: 215px;
      text-align: right;
      @media (max-width: 767px) {
        width: 100%;
      }
      .profile-percentage {
        font-size: 16px;
        font-weight: bold;
      }
      .progress {
        height: 6px;
        .progress-bar {
          border-radius: 5px;
        }
      }
      .profile-bar-txt {
        font-weight: 300;
        color: #000;
        margin: 4px 0 0 0;
      }
    }

    .mark-btn {
      padding-top: 15px;
    }
  }
  .bidder-profl-rw {
    margin-bottom: 20px;
    @media (max-width: 767px) {
      flex-direction: column !important;
    }
  }
  .bidder-profile-list {
    li {
      border: 1px solid $primary;
      border-radius: 5px;
      padding: 15px 10px;
      margin-right: 20px;
      margin-bottom: 20px;
      min-width: 158px;
      @media (max-width: 767px) {
        width: 100%;
        min-width: initial;
        margin-right: 0;
      }
      h3 {
        font-family: $primary-font-family;
        font-size: 16px;
        font-weight: 700;
      }
      label {
        font-size: 13px;
        color: #757575;
      }
    }
  }
}
.bidder-profile-l-padd {
  margin-left: 79px;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.view-review-btn {
  font-family: $primary-font-family;
  font-weight: 300;
  color: #000;
  &:focus {
    text-decoration: none;
  }
}
.bidder-review {
  h2 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
  }
}
