$dark-default: #333;
$dark-default-light: #444;
$blue: #2db7fe;
$blue-dark: #078ace;
$blue-light1: #2cb8fd;
$blue-light2: #2cc3fe;
$yellow: #fea62c;
$orange: #ffb12c;
$orange-hover: #fc9f00;
$orange-100: #fd782e;
$orange-200: #ff6c00;
$green: #28a745;
$white: #fff;
$red: #ff0000;

$primary: $blue;
$primary-dark: $blue-dark;
$primary-light1: $blue-light1;
$primary-light2: $blue-light2;
$secondary: $yellow;
$secondary-100: $orange-100;
$secondary-200: $orange-200;
$secondary-100-hover: $orange-200;
$success: $green;
$info: $white;
$warning: $yellow;
$danger: $red;

$Roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;

$primary-font-family: $Roboto;
$secondary-font-family: $poppins;
