@import "../../assets/css/variables";
.header {
  padding: 18px 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$primary-dark+0,2db7fe+100 */
  background: $primary-dark; /* Old browsers */
  background: -moz-linear-gradient(left, $primary-dark 0%, $primary-light1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $primary-dark 0%, $primary-light1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    $primary-dark 0%,
    $primary-light1 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-dark', endColorstr='$primary',GradientType=1 ); /* IE6-9 */
  .logo {
    img {
      position: relative;
      width: 125px;
    }
    // @media (max-width: 550px) {
    //   border-bottom: 1px solid rgba(256, 256, 256, 0.2);
    //   margin: 0 -15px;
    //   padding-bottom: 10px !important;
    // }
  }
  .beforeLogin .logo {
    @media (max-width: 550px) {
      border-bottom: none;
      margin: 0;
      padding: 0 !important;
    }
  }
  .nav-toggle-btn {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.18);
    text-align: center;
    margin-left: 15px;
    @media (max-width: 550px) {
      margin-left: 0;
    }
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 68%;
      left: 6px;
      background: #ffffffd6;
      margin: 3px 0px;
      border-radius: 10px;
      transition: 0.25s ease-in-out;
      transform: rotate(0deg);
      transform-origin: left center;
    }
    span:nth-child(1) {
      top: 7px;
    }
    span:nth-child(2) {
      top: 15px;
    }
    span:nth-child(3) {
      top: 23px;
    }
  }
  @media (max-width: 550px) {
    .header-inner:not(.beforeLogin) {
      // flex-direction: column;
      align-items: center;
      .logo {
        img {
          width: 125px;
        }
      }
      .user-profile-blc {
        .user-dropdown {
          display: none;
        }
      }
    }
    .nav-wrapper {
      // margin-left: initial !important;
      // margin-top: 10px;
      // justify-content: center;
      .user-profile-blc {
        padding-left: 0;
      }
    }
    .beforeLogin .nav-wrapper {
      margin-left: auto !important;
      margin-top: 0;
    }
  }
  @media (max-width: 480px) {
    padding: 12px 0;
  }
}
@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}
.header-home {
  background: none;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 9999;
  position: fixed;
  transition: all ease 0.1s 0s;
}
.header-home.active {
  @include bg-opacity($primary-dark, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 0;
  margin-right: 0;
}

.nav-toggle-btn.active {
  span:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
    left: 9px;
  }
  span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  span:nth-child(3) {
    transform: rotate(-45deg);
    left: 9px;
    top: 25px;
  }
}
