@import "../../../../assets//css/variables";
.proposal-blc {
  font-family: $secondary-font-family;
  margin: 30px 0 0;
  // padding: 0 15px;
}
.proposal-blc {
  > h4 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 25px;
  }
}
.proposal-rw {
  background: #fff;
  padding: 12px;
  margin-bottom: 11px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(139, 141, 144, 0.25);
  cursor: pointer;
  transition: all ease 0.3s 0s;
  transform: scale(1);
  &:hover {
    box-shadow: 0 0 15px rgba(139, 141, 144, 0.5);
  }
}
.proposal-col-l,
.proposal-col-m {
  padding-right: 15px;
}

.proposal-col-m {
  h5 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }
}
.proposal-col-m {
  p {
    font-size: 13px;
    font-weight: 400;
    color: #757575;
  }
}
.proposal-col-r {
  font-family: $secondary-font-family;
  .rating-btn {
    .btn {
      padding: 0 1px;
    }
    svg {
      width: 16px;
    }
  }
}
.time-rate {
  font-size: 12px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.5);
  span {
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0 0;
  }
}

@media (max-width: 600px) {
  .proposal-blc {
    > h4 {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .proposal-rw {
    flex-direction: column;
    align-items: center;
    .proposal-col-l {
      margin-bottom: 5px;
    }
    .proposal-col-l,
    .proposal-col-m {
      text-align: center;
      padding-right: 0;
    }
    .proposal-col-m {
      order: 2;
      margin-top: 10px;
    }
    .time-rate {
      text-align: center !important;
      p {
        margin-top: 0;
      }
    }
  }
}
