@import "../../../assets//css/variables";
.hidden {
  display: none !important;
}

// .job-detail-blc {
//   display: none !important;
// }
.job-detail-blc {
  > h2 {
    margin-bottom: 17px;
  }
}
.job-detail-hd-col {
  margin: 9px 15px 0 0;
  .rating-blc {
    margin-top: -2px;
    @media (max-width: 600px) {
      margin-left: -3px;
    }
  }
}
.job-detail-amnt.margin {
  margin-right: 8px;
}
.job-detail-inner {
  background-color: #fff;
  border: 1px solid #e2e5e7;
  padding: 30px 15px;
  border-radius: 10px;
}
.job-detail-tp {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
}
.job-detail-hd {
  p {
    color: rgba(0, 0, 0, 0.7);
  }
}
.job-detail-hd-rw {
  margin: 0 0 3px 0;
  h3 {
    font-family: $secondary-font-family;
    font-size: 24px;
    font-weight: 400;
    margin: 0 10px 0 0;
  }
  p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}
.job-detail-rw {
  margin: 0 0 49px 0;
  .slick-list {
    margin: 30px 0 0;
  }
  .slick-slide img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: all ease 0.3s 0s;
    &:hover {
      opacity: 0.85;
    }
  }
}
.job-detail-pic-col {
  .job-detail-pic {
    height: 330px;
    padding: 8px;
    border: 1px solid rgba(163, 163, 163, 0.4);
    img {
      width: 100%;
      height: 100% !important;
    }
  }
  .job-slider-track-inner {
    width: 168px;
    div {
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .slick-next {
      background: url(../../../assets/images/icons/arrow-up.svg) 0 0 no-repeat;
    }
    .slick-prev {
      background: url(../../../assets/images/icons/arrow-up.svg) 0 0 no-repeat;
      transform: rotate(-180deg);
      transform-origin: 7px 3px;
    }
    .slick-arrow {
      text-indent: 100%;
      background-size: 20px;
    }
    .slick-arrow.slick-disabled {
      opacity: 0.4;
    }
  }
}

.job-detail-desc {
  font-family: $secondary-font-family;
  padding: 20px 0 5px 0;
  h4 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 12px;
  }
  p {
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bid_status_blc {
  margin: 0 0 20px 0;
}
.bid-status-btns {
  margin: 15px 0 0;
}
.mark-dn-cell {
  @media (max-width: 600px) {
    margin-top: -4px;
  }
}
.mark-dn-cell .btn,
.bid-status-btns .btn {
  font-size: 13px;
  border: 1px solid #e4e4e4;
  margin: 0 7px 7px 0;
  padding: 7px 15px;
  box-shadow: 0 0 7px #d4d4d4;
}
.mark-dn-cell .btn {
  margin-right: 0;
}
@mixin danger-opacity($danger, $opacity: 1) {
  background-color: $danger;
  background-color: rgba($danger, $opacity);
}

.bid_status {
  font-weight: 500;
  padding: 6px 10px 6px 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  span {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  svg {
    width: 10px;
    height: auto;
    fill: white;
  }
}
.status-danger {
  @include danger-opacity($danger, 0.15);
  span {
    background: $danger;
  }
}
.status-primary {
  @include danger-opacity($primary, 0.15);
  span {
    background: $primary;
  }
}
.status-success {
  @include danger-opacity($success, 0.15);
  span {
    background: $success;
  }
}
.status-secondary {
  @include danger-opacity($secondary, 0.3);
  span {
    background: $secondary;
  }
}
@media (max-width: 767px) {
  .job-detail-blc {
    margin-top: 0px;
  }
  .job-detail-hd-rw {
    h3 {
      font-size: 22px;
    }
    .job-detail-amnt {
      font-size: 22px;
    }
  }
  .job-detail-pic-col {
    margin-bottom: 20px;
  }
}
.place-bid-rw {
  margin-top: 20px;
  .place-bid-btn {
    max-width: 327px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .job-detail-hd-rw {
    font-family: $secondary-font-family;
    h3 {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
    .job-detail-amnt {
      font-size: 18px;
    }
  }
  .job-detail-hd-col {
    flex-direction: column !important;
  }
}
