@import "../../../assets//css/variables";
.hidden {
  display: none !important;
}

// .job-detail-blc {
//   display: none !important;
// }
.job-detail-blc {
  > h2 {
    margin-bottom: 17px;
  }
}
.job-detail-hd-col {
  margin: 3px 15px 0 0;
  .rating-blc {
    margin-top: -2px;
    @media (max-width: 600px) {
      margin-left: -3px;
    }
  }
}
.job-detail-inner {
  background-color: #fff;
  border: 1px solid #e2e5e7;
  padding: 30px 15px;
  border-radius: 10px;
}
.job-detail-hd {
  p {
    color: rgba(0, 0, 0, 0.7);
  }
}
.job-detail-hd-rw {
  margin: 0 0 3px 0;
  h3 {
    font-family: $secondary-font-family;
    font-size: 24px;
    font-weight: 400;
    margin: 0 10px 0 0;
  }
  p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}
.job-detail-rw {
  margin: 0 0 49px 0;
  .slick-list {
    margin: 30px 0 0;
  }
  .slick-slide img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition: all ease 0.3s 0s;
    &:hover {
      opacity: 0.85;
    }
  }
}
.job-detail-pic-col {
  .job-detail-pic {
    height: 330px;
    padding: 8px;
    border: 1px solid rgba(163, 163, 163, 0.4);
    img {
      width: 100%;
      height: 100% !important;
    }
  }
  .job-slider-track-inner {
    width: 168px;
    div {
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    .slick-next {
      background: url(../../../assets/images/icons/arrow-up.svg) 0 0 no-repeat;
    }
    .slick-prev {
      background: url(../../../assets/images/icons/arrow-up.svg) 0 0 no-repeat;
      transform: rotate(-180deg);
      transform-origin: 7px 3px;
    }
    .slick-arrow {
      text-indent: 100%;
      background-size: 20px;
    }
    .slick-arrow.slick-disabled {
      opacity: 0.4;
    }
  }
}

.job-detail-desc {
  font-family: $secondary-font-family;
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 0 5px 0;
  h4 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 12px;
  }
  p {
    font-weight: 300;
  }
}

.bid_status_blc {
  margin: 20px 0 0;
}
.bid_status {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: -8px;
  padding: 4px 10px 4px 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: l;
  justify-content: center;
  width: 100%;
  background: #ffebeb;
  margin-bottom: 25px;
  span {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: $danger;
    border-radius: 50%;
  }
  svg {
    width: 10px;
    height: auto;
    fill: white;
  }
}

@media (max-width: 767px) {
  .job-detail-blc {
    margin-top: 0px;
  }
  .job-detail-hd-rw {
    h3 {
      font-size: 22px;
    }
    .job-detail-amnt {
      font-size: 22px;
    }
  }
  .job-detail-pic-col {
    margin-bottom: 20px;
  }
}
.place-bid-rw {
  margin-top: 20px;
  .place-bid-btn {
    max-width: 327px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .job-detail-hd-rw {
    font-family: $secondary-font-family;
    h3 {
      font-size: 18px;
      margin: 0 0 10px 0;
    }
    .job-detail-amnt {
      font-size: 18px;
    }
  }
  .job-detail-hd-col {
    flex-direction: column !important;
  }
}
