nav {
  transition: all ease 0.3s 0s;
  li {
    > .btn-link,
    > .btn-link:focus {
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      padding: 9px 12px;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.login-btn {
  min-width: 89px;
  min-height: 40px;
  margin-left: 29px;
}
@media (max-width: 767px) {
  nav.nav {
    display: flex !important;
    width: 205px;
    align-items: flex-start !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    padding: 0 0 10px 0;
    box-shadow: 0 0 11px #0000004f;
    background: #23a8f6;
    overflow: auto;
    transform: translateX(-100%);
  }
  nav.nav.active {
    transform: translateX(0);
  }
  nav.nav {
    ul {
      flex-direction: column;
      align-items: start !important;
      flex: 1;
      li {
        width: 100%;
        .btn {
          width: 100%;
          text-align: left;
          padding: 13px 15px;
          border-radius: 0;
          border-bottom: 1px solid #49bcff;
        }
        .btn.login-btn {
          margin: 10px 15px 0;
          width: calc(100% - 30px);
          border-radius: 40px;
          text-align: center;
        }
      }
    }
  }
}
