.banner {
  height: 160px;
  background: url("../../assets/images/banner.jpg") 0 0 no-repeat;
  background-size: cover;
  @media (max-width: 767px) {
    height: 105px;
  }
  .banner-title {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    padding: 15px;
  }
}
.home-banner {
  background: none;
  height: auto;
  @media (max-width: 767px) {
    height: auto;
  }
}
