@import "../../../assets/css/variables";
.job-wrapper {
  font-family: $secondary-font-family;
  padding: 10px;
  margin-bottom: 30px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #c1c1c1;
  transition: all ease 0.3s 0s;
  * {
    cursor: pointer;
  }
  &:hover {
    background: #fafafa;
    box-shadow: 0 0 18px #8e8e8e;
    text-decoration: none;
    img {
      transform: scale(1.2);
    }
  }
}
.job-inner {
  padding: 0 6px;
}
.job-title,
.job-time {
  padding: 13px 0 0;
  label:first-child {
    padding-right: 17px;
  }
  label:nth-of-type(2) {
    flex-shrink: 0;
  }
}
.job-time {
  padding-top: 22px;
  .job-time-icn {
    display: none;
  }
}
.job-location {
  padding: 12px 0 0;
  span {
    width: 15px;
    margin: 0 5px 0 0;
  }
  label {
    margin-top: 2px;
  }
}
.job-title {
  label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 18px;
    padding-right: 15px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (max-width: 990px) {
      white-space: normal;
    }
  }
  span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
  }
}
.job-pic {
  height: 250px;
  overflow: hidden;
  transition: all ease 0.3s 0s;
  a {
    border-radius: 10px;
    overflow: hidden;
    background: #f3f3f3;
  }
  img {
    width: 100%;
    height: 100% !important;
    border-radius: 10px;
    transition: all ease 0.3s 0s;
    transform: scale(1);
  }
}
.job-inner {
  transition: all ease 0.3s 0s;
}
.job-location {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
.job-time {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  span:not(.job-time-icn) {
    color: #000;
    line-height: 1;
    margin-top: 3px;
  }
}
.job-location {
  svg {
    width: 13px;
    height: 18px;
  }
}
.job-status-rw {
  font-size: 12px;
  border-top: 1px solid #ddd;
  margin: 10px -16px -10px;
  padding: 6px 16px 6px;
  label {
    margin: 0 10px 0 0;
  }
  span {
    color: #000;
  }
}
.product-col {
  padding-right: 10px;
  padding-left: 10px;
}
// List row style start
.job-list-row.job-listing {
  flex-direction: column !important;
  .product-col {
    max-width: 100% !important;
  }
}
.job-list-row {
  .job-wrapper {
    display: flex !important;
    flex-direction: row !important;
    flex: 1 !important;
    padding: 10px;
  }
  .job-pic {
    width: 234px;
    height: auto;
    margin-right: 20px;
    align-items: center;
    a {
      height: 150px;
      background-color: transparent;
    }
  }
  .job-inner {
    flex: 1;
    padding-right: 16px;
  }
  .job-title {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1;
    span {
      font-size: 17px;
    }
    label {
      font-size: 17px;
      color: #24231f;
      order: 0;
    }
  }
  .job-time {
    font-size: 12px;
    font-weight: 300;
    color: #24231f;
    justify-content: flex-start !important;
    margin-top: initial !important;
    padding: 0;
    span:not(.job-time-icn) {
      padding-top: 5px;
      font-weight: 500;
      color: #24231f;
    }
    .job-time-col {
      > label {
        margin-top: 2px;
      }
    }
    .job-time-icn {
      margin-right: 5px;
      svg {
        width: 15px;
        fill: $secondary-200;
      }
    }
    .job-time-col {
      // width: 44%;
      flex: 1;
      line-height: 1;
      &:last-child {
        justify-content: flex-end;
      }
    }
    .job-time-icn {
      display: block;
    }
  }
  .job-location {
    font-weight: 300;
    color: #24231f;
    margin-bottom: 10px;
    span {
      margin-right: 14px;
    }
  }
  .job-desc {
    font-size: 12px;
    font-weight: 300;
    margin-left: 27px;
    color: #24231f;
  }
  .job-status-rw {
    margin: 10px 0 0;
    padding: 6px 0 0;
  }
}

@mixin color-opacity($primary, $opacity: 1) {
  background-color: $primary;
  background-color: rgba($primary, $opacity);
}
.job-status-bar {
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  padding: 3px 10px;
  border-radius: 0 0 10px 10px;
}
// Bid has been accepted
.job-primary-bar {
  @include color-opacity($primary, 0.1);
  background: $primary;
}

// Bid not started
// Bid has been expired
// Bid has been rejected
.job-danger-bar {
  @include color-opacity($danger, 0.1);
  background: $danger;
}

// Bid is in progress
.job-secondary-bar {
  @include color-opacity($secondary, 0.1);
  background: $secondary;
}

// Bid has been completed
.job-success-bar {
  @include color-opacity($success, 0.1);
  background: $success;
}
.job-pic .no-job-image {
  height: 75% !important;
  opacity: 0.15;
}
.job-bid-count {
  top: 0;
  right: 0;
}

.no-job-image-blc {
  img {
    width: 140px !important;
    opacity: 0.8;
    height: auto !important;
  }
}
.job-list-row {
  .no-job-image-blc img {
    max-width: 110px !important;
  }
}
.no-jobdetail-image img {
  max-width: 220px !important;
  width: 100% !important;
  opacity: 0.8;
  height: auto !important;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .job-list-row {
    .job-wrapper {
      .job-pic {
        width: 190px;
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .job-list-row {
    .job-wrapper {
      .job-pic {
        margin-right: 10px;
      }
    }
    .job-title {
      padding-left: 0;
    }
  }
}
@media (max-width: 600px) {
  .job-listing {
    flex-direction: column !important;
    .job-wrapper {
      flex: 1 1 auto;
      flex-direction: column !important;
      padding: 20px;
      .job-pic {
        width: 100%;
        margin-bottom: 15px;
        img {
          width: 100%;
        }
      }
    }
  }
}
