@import "../../../assets/css/variables";
.job-wrapper {
  font-family: $secondary-font-family;
  padding: 10px;
  margin-bottom: 30px;
  background: #fff;
  div {
    transition: all ease 0.3s 0s;
  }
}
.job-inner {
  padding: 0 6px;
}
.job-title,
.job-time {
  padding: 13px 0 0;
  label:first-child {
    padding-right: 17px;
  }
}
.job-time {
  padding-top: 22px;
}
.job-location {
  padding: 12px 0 0;
}
.job-title {
  label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 18px;
    padding-right: 15px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }
}
.job-pic {
  img {
    object-fit: contain;
  }
}
.job-location {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
.job-time {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  span {
    color: #000;
    line-height: 1;
    margin-top: 1px;
  }
}
.job-location {
  svg {
    width: 13px;
    height: 18px;
    margin: 0 5px 0 0;
  }
}
// List row style start
.job-list-row.job-listing {
  flex-direction: column !important;
  .col {
    max-width: 100% !important;
  }
}
.job-list-row {
  .job-wrapper {
    display: flex !important;
    flex-direction: row !important;
    padding: 32px 20px;
  }
  .job-pic {
    width: 234px;
    margin-right: 43px;
  }
  .job-inner {
    flex: 1;
  }
  .job-title {
    padding-left: 27px;
    padding-top: 0;
    line-height: 1;
    span {
      margin-left: initial !important;
      font-size: 33px;
      font-weight: 500;
      margin-bottom: 18px;
    }
    label {
      color: #24231f;
    }
  }
  .job-time {
    font-size: 12px;
    font-weight: 300;
    color: #24231f;
    justify-content: flex-start !important;
    padding-left: 6px;
    span {
      padding-top: 5px;
      font-weight: 500;
      color: #24231f;
    }
    label {
      max-width: 235px;
      width: 100%;
      border-left: 1px solid #24231f;
      padding-left: 20px;
      line-height: 1;
    }
  }
  .job-location {
    font-weight: 300;
    color: #24231f;
    margin-bottom: 10px;
    svg {
      margin-right: 14px;
    }
  }
  .job-desc {
    font-size: 12px;
    font-weight: 300;
    margin-left: 28px;
    color: #24231f;
  }
}

@media (max-width: 1024px) {
  .job-list-row {
    .job-wrapper {
      .job-pic {
        width: 190px;
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .job-list-row {
    .job-title {
      span {
        font-size: 28px;
      }
    }
    .job-wrapper {
      .job-pic {
        margin-right: 10px;
      }
    }
    .job-title {
      padding-left: 0;
    }
    .job-desc {
      margin-left: 0;
    }
    .job-time {
      padding: 0;
    }
  }
}
@media (max-width: 500px) {
  .job-listing {
    flex-direction: column !important;
    .job-wrapper {
      flex: 1 1 auto;
      flex-direction: column !important;
      .job-pic {
        width: 100%;
        margin-bottom: 15px;
        img {
          width: 100%;
        }
      }
    }
  }
}
